.avatar-container{
    display: block;
    width: 150px;
    height: 170px;
}
.button-container{
    display: block;
    position: relative;
    margin-left: 39%;
    margin-bottom: 3%;

    button{
        background : rgba(255, 0, 0, 0.589);
        width: 30%;
        margin: 10px;
        display: block;
        padding: 10px;
        border: none;
        color: white;
        align-content: center;
        margin-bottom: 2px;
        border-radius: 3px;
    }
    
    button:hover{
        background : red;
    }
}

.css-1gm1ct-MuiAvatar-root{
    cursor: pointer;
}

.css-1gm1ct-MuiAvatar-root:focus{
    width: 135px;
    height: 135px;
}